body{
    border: 23px solid #ededed;
    margin: 0;
    background-color:;
    font-family: "Helvetica"
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#more {display: none;}
/**
* CARD
**/

.card {
    position: relative;
    top: 50%;
    left: 50%;
    font-family: "Helvetica";
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0);
    transform: translateX(-50%) translateY(-50%) translateZ(0);
    width: 370px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
}
.row{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.card a {
    color: inherit;
    text-decoration: none;
}

.card:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.viewmore:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}


/**
* DATE
**/

.card__date {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    padding-top: 10px;
    background-color: coral;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-weight: 400;
    line-height: 13px;
}

.card__date__day {
    font-size: 14px;
}

.card__date__month {
    text-transform: uppercase;
    font-size: 10px;
}


/**
* THUMB
**/

.card__thumb {
    height: 245px;
    overflow: hidden;
    background-color: #000;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}

.card__thumb img {
    width: 100%;
    display: block;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.card:hover .card__thumb {
    height: 130px;
}

.card:hover .card__thumb img {
    opacity: 0.6;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


/**
* card_BODY
**/

.card__body {
    position: relative;
    height: 100px;
    padding: 20px 20px 20px 20px;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}

.card:hover .card__body {
    height: 235px;
}

.card__category {
    position: absolute;
    top: -25px;
    left: 0;
    height: 25px;
    padding: 0 15px;
    background-color: coral;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 25px;
}

.viewmore {
    margin-top: 20px;
    margin-left:35vw; 
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Helvetica';
    font-kerning: 1px;
    font-weight: 550;
    width: 190px;
    height: 60px;
    background-color: #FFFFFF;
    border: none;
    color: #333138;
    box-shadow: 0px 4px 12px rgba(5, 4, 1, 0.08);
}

.card__title {
    margin: 0;
    padding: 0 0 5px 8px;
    color: #191919;
    font-size: 24px;
    font-family: "Helvetica";
    font-weight: 500;
   

}

.card__subtitle {
    margin: 0;
    padding: 5px 30px 10px 11px;
    font-size: 15px;
    color: #a1a1a1;
    font-family: "Helvetica";
}

.card__description {
    position: absolute;
    left: 30px;
    right: 35px;
    bottom: 58px;
    margin-top: 6rem;
    font-family: "Helvetica";
    padding: 0;
    color: #535353;
    line-height: 23px;
    opacity: 0;
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.card:hover .card__description {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.card__footer {
    position: absolute;
    bottom: 12px;
    left: 20px;
    right: 20px;
    font-size: 11px;
    color: #A3A9A2;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 2px;
    font-size: 18px;
}

.icon+.icon {
    padding-left: 10px;
}
.wrapper{
    width: 87%;
    margin: auto;
    font-family: 'Questrial', sans-serif;
}

table{
    width: 100%;
    margin-top: 60px;
}

table tr td{
    font-size: 16px;
    padding: 0;
/*    border: 1px solid black;*/
    
}

.head table td a{
    display: block;
    text-decoration: none;
    color: #2F2F2F;
    font-weight: 500;
    opacity: 1;
}

.head table td a:hover{
    display: block;
    text-decoration: none;
    font-weight: 500;
    opacity: .50;}

a{
    display: block;
    text-decoration: none;
    color: #242321;
}

.heading{
    font-size: 28px;
    margin-top: 100px;
    margin-left: 2px;
    
    letter-spacing: .5px;
    margin-bottom: 7px;
    color: #242321;
    opacity: .50;
}
.title{
    text-align:center;
    font-family: "Helvetica";
}
.intro1{
    margin-left: 2px;
    line-height: 1.5;
    font-size: 30px;
    margin-top: 90px;
    color: #2F2F2F;
    letter-spacing: .5px;
    font:bolder;
    font-weight: 800;
    margin-bottom:1rem;
}

.intro2{
    line-height: 1.6;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 50px;
    color:#a1a1a1;
    letter-spacing: .5px;
    padding: vw;
    margin-left: 21vw;
    margin-right: 21vw;
    text-align: center;
    margin-bottom:8rem;
    font-weight: 400;
}

.one{
    margin-top: 0px;
    width:100%;
    
    display:flex;
    flex-direction:column;
}

.one a{
    text-decoration: none;
}

.onea{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    
}
 .onea:hover{
    display: inline-block;
    opacity: .50;
}
    
.main{
    width: 360px;
}

#two{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
}
p.texthead{
    font-size: 22px;
    margin: 0;
    margin-top: 15px;
    color: #666;
}

p.texttitle{
    font-size: 13px;
    margin-top: 8px;
    letter-spacing: .5px;
    color: #666;
    margin-bottom: 10px;
}







.footer {
    border-top: 100px solid white;
    background-color: #ededed;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    font-size: 16px;
    font-family: 'Questrial', sans-serif;
}

.footer ul{
    margin: 0 auto;
    padding: 0;
    margin-bottom: 10px;
}

.footer ul li{
    display:inline-block;
    margin: 0;
    padding: 15px;
}

.footer a{
    text-decoration: none;
    color: #6c6c6c;
}
.fb a:hover{color: #3b5998;}
.li a:hover{color: #0077B5;}
.in a:hover{color: #010101;}
.dr a:hover{color: #ea4c89;}
.be a:hover{color: #1769ff;}
.up a:hover{color: #8c1aff;}

.footer p{
    margin-bottom: 5px;
    color: #6c6c6c;
    font-size: 14px; margin-top: 18px; letter-spacing: .5px; display: inline;}


